
.ContainerContatos{
    width: 100vw;
    background-color:#19171c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}
.tituloContatos{
    font-size: 1em;
    text-transform: uppercase;
    
}
.Contatos{
    width: 90vw;
    max-width:1500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.CRedesSociais{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 20px;
}

.Cidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.Cidades>div>h2{
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1em;
    font-weight: 400;
}
.Cidades>div>h1{
    font-size: 1.2em;
    font-weight: 400;
}

.imgContatos{
    height: 100%;
    object-fit: cover;
    
}
.itabela>h1{
    margin-bottom: 5px;
}
.guaratinga>h1{
    margin-bottom: 5px;
}