/* Carousel.module.css */

/* Estilo geral do Swiper */
.carousel {
  width: 100%;
}


.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px; /* Borda arredondada */
  height: 400px; /* Altura dos slides */
  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botões de navegação */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Cor dos botões */
}

/* Paginadores (bolinhas) */
.swiper-pagination-bullet {
  background: #333; /* Cor padrão das bolinhas */
}

.swiper-pagination-bullet-active {
  background: #0070f3; /* Cor da bolinha ativa */
}

.slide img {
  width: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o slide sem distorcer */
  border-radius: 8px; /* Aplica bordas arredondadas à imagem */
  transition: transform 0.3s ease; /* Adiciona um efeito suave para interações */
}

@media screen and (max-width: 768px) {
  .slide {
    height: 200px; /* Diminui a altura dos slides */
  }
  
}