
.videoSection{
    background-color:#000000a8;
    color: white;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap : 30px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    border-radius: 20px;
    position: relative;
}

.imagem_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: -1;
    
}

.video{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.videoSection {
  padding: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.videoText {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features {
  list-style-type: none;
  padding-left: 0;
  font-size: 1rem;
  margin-bottom: 20px;
}

.features li {
  margin-bottom: 8px;
}

.visit {
  font-size: 1rem;
  font-weight: bold;
}

.text{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.text>h1{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.text>h2{
    font-size: 1.2em;
    font-weight: bold;
}
.destque{
    font-weight: 900;
}

