/* herder */

.container_header{
    margin-top:5px;
    max-width:1300px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #3c3c3cd2;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
 
  
  .container_header>nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  
  
  .container_header>img{
    height: 2em;
    cursor: pointer;
  }
  
  
  .bntNav{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  
  
  .bnt_Contato{
    display: flex;
    width: 300px;
    height: 45px;
    padding: 10px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    font-weight: bolder;
    border-radius: 10px;
  }
  .bnt_Contato_icone{
    height: 15px;
  }

.MenuFlutuante{
  
  gap: 30px;
  padding: 30px;
  height: 50vh;
  background-color: #6200ff;
  position: fixed;
  
  top:0;
  
}
@media (min-width: 940px) {
  .BntMenu{
    display: none;
  }

}

@media (max-width: 950px) {
  .container_header>nav{
    display: none;
  }
  
}

@media (max-width: 1200px) {
  
  .bnt_Contato{
    width: 50px;
  }
  .bnt_Contato> span{
    display: none;
  }
}