.container_servicos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    padding-top: 100px;
    border-radius: 20px;
    min-height: 100vh;
    overflow: hidden;
    
}

.container_servicos>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titulo{
    font-size: 3em;
}

.img_iphone_quebrado{
    height: 30em;
    margin: 20px;
}

@media (max-width:850px) {
    .img_iphone_quebrado{
        display: none;
    }
    
    
  }

  .container_cards_left{
    text-align: end;
  }

  .container_cards_left,.container_cards_right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

.container_cards_left>div,.container_cards_right>div{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    color: rgb(255, 255, 255);
    padding: 10px;
    gap: 10px;
    border-radius: 10px 0px;
    
}
@media (max-width:850px){
    .container_cards_left>div,.container_cards_right>div{
        font-size: 0.8em;
        width: 200px;
    }
    .container_servicos{
        justify-content: center;
    }
    .container_cards_right>div{
        width: 40vw;
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 200px;
        text-align: start;
        background-color: rgb(31, 22, 22);
        margin: 5px;
    }
    .container_cards_left>div{
        width: 50vw;
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 200px;
        text-align: start;
        background-color: rgb(31, 22, 22);
        margin: 5px;
    }
}
